apiVersion: apps/v1
kind: Deployment
metadata:
  name: react-frontend
  namespace: app-space
spec:
  replicas: 2
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
      - name: react-app
        imagePullPolicy: IfNotPresent
        image: marknini/react-frontend:latest
        ports:
        - containerPort: 80
        env:
        - name: VITE_API_URL
          value: "http://localhost/api"
---
apiVersion: v1
kind: Service
metadata:
  name: frontend-service
  namespace: app-space
spec:
  selector:
    app: frontend
  ports:
  - protocol: TCP
    port: 80
    targetPort: 80
  type: ClusterIP
